@import "mixins";
@import "node_modules/bootstrap/scss/bootstrap";
@import "_global/fonts";

body {
  @include roboto-regular;
  background: #f0f0f0;
}

main {
  display: flex;
  width: 100%;
  align-items: stretch;
}