/* Robot font */
@include font-family("Roboto", 900, normal, "/fonts/roboto/", "roboto-black");
@include font-family("Roboto", 900, italic, "/fonts/roboto/", "roboto-blackitalic");
@include font-family("Roboto", 700, normal, "/fonts/roboto/", "roboto-bold");
@include font-family("Roboto", 700, italic, "/fonts/roboto/", "roboto-bolditalic");
@include font-family("Roboto", 500, normal, "/fonts/roboto/", "roboto-medium");
@include font-family("Roboto", 500, italic, "/fonts/roboto/", "roboto-mediumitalic");
@include font-family("Roboto", 400, normal, "/fonts/roboto/", "roboto-regular");
@include font-family("Roboto", 400, italic, "/fonts/roboto/", "roboto-italic");
@include font-family("Roboto", 300, normal, "/fonts/roboto/", "roboto-light");
@include font-family("Roboto", 300, italic, "/fonts/roboto/", "roboto-lightitalic");
@include font-family("Roboto", 100, normal, "/fonts/roboto/", "roboto-thin");
@include font-family("Roboto", 100, italic, "/fonts/roboto/", "roboto-thinitalic");